In [12]:
%matplotlib notebook

from ipywidgets import *
from srcs.extractData import extractData
from srcs.normalise import normaliseDf
from srcs.estimatedPrice import estimatedPrice
from srcs.trainModel import trainModel

In [13]:
df = extractData('data/data.csv')
df

          km   price
0   240000.0  3650.0
1   139800.0  3800.0
2   150500.0  4400.0
3   185530.0  4450.0
4   176000.0  5250.0
5   114800.0  5350.0
6   166800.0  5800.0
7    89000.0  5990.0
8   144500.0  5999.0
9    84000.0  6200.0
10   82029.0  6390.0
11   63060.0  6390.0
12   74000.0  6600.0
13   97500.0  6800.0
14   67000.0  6800.0
15   76025.0  6900.0
16   48235.0  6900.0
17   93000.0  6990.0
18   60949.0  7490.0
19   65674.0  7555.0
20   54000.0  7990.0
21   68500.0  7990.0
22   22899.0  7990.0
23   61789.0  8290.0

In [14]:
normedDf = normaliseDf(df)
normedDf

          km     price
0   2.637603 -2.032224
1   0.735345 -1.918558
2   0.938480 -1.463894
3   1.603511 -1.426005
4   1.422588 -0.819785
5   0.260730 -0.744008
6   1.247930 -0.403010
7  -0.229073 -0.259033
8   0.824573 -0.252213
9  -0.323996 -0.099900
10 -0.361415  0.044077
11 -0.721534  0.044077
12 -0.513842  0.203210
13 -0.067704  0.354765
14 -0.646734  0.354765
15 -0.475398  0.430542
16 -1.002981  0.430542
17 -0.153135  0.498742
18 -0.761610  0.877629
19 -0.671908  0.926884
20 -0.893534  1.256516
21 -0.618258  1.256516
22 -1.483975  1.256516
23 -0.745663  1.483848

In [15]:
print(estimatedPrice(1, thetas=(1, 2)))

3

In [27]:
thetas = trainModel(normedDf, plot=False, learningRate=0.1, epoch=1000)
print(thetas)

[1.892005071132038e-16, -0.8561394207905018]

In [28]:
cpDf = normedDf.copy(deep=True)
cpDf['ax+b'] = cpDf['km'].apply(lambda x: thetas[0] + x * thetas[1])
cpDf

          km     price      ax+b
0   2.637603 -2.032224 -2.258156
1   0.735345 -1.918558 -0.629558
2   0.938480 -1.463894 -0.803470
3   1.603511 -1.426005 -1.372829
4   1.422588 -0.819785 -1.217934
5   0.260730 -0.744008 -0.223221
6   1.247930 -0.403010 -1.068402
7  -0.229073 -0.259033  0.196118
8   0.824573 -0.252213 -0.705949
9  -0.323996 -0.099900  0.277386
10 -0.361415  0.044077  0.309421
11 -0.721534  0.044077  0.617734
12 -0.513842  0.203210  0.439921
13 -0.067704  0.354765  0.057964
14 -0.646734  0.354765  0.553695
15 -0.475398  0.430542  0.407007
16 -1.002981  0.430542  0.858691
17 -0.153135  0.498742  0.131105
18 -0.761610  0.877629  0.652045
19 -0.671908  0.926884  0.575247
20 -0.893534  1.256516  0.764990
21 -0.618258  1.256516  0.529315
22 -1.483975  1.256516  1.270489
23 -0.745663  1.483848  0.638392

In [29]:
testDf = cpDf.copy(deep=True)
testDf['price'] = testDf['price'].apply(lambda x: x * (df['price'].std()) + df['price'].mean())
testDf['ax+b'] = testDf['ax+b'].apply(lambda x: x * (df['price'].std()) + df['price'].mean())
testDf['km'] = testDf['km'].apply(lambda x: x * (df['km'].std()) + df['km'].mean())
testDf

          km   price         ax+b
0   240000.0  3650.0  3351.848388
1   139800.0  3800.0  5501.034540
2   150500.0  4400.0  5271.530629
3   185530.0  4450.0  4520.173435
4   176000.0  5250.0  4724.582058
5   114800.0  5350.0  6037.258630
6   166800.0  5800.0  4921.912523
7    89000.0  5990.0  6590.641890
8   144500.0  5999.0  5400.224411
9    84000.0  6200.0  6697.886708
10   82029.0  6390.0  6740.162615
11   63060.0  6390.0  7147.028006
12   74000.0  6600.0  6912.376344
13   97500.0  6800.0  6408.325700
14   67000.0  6800.0  7062.519089
15   76025.0  6900.0  6868.942193
16   48235.0  6900.0  7465.008891
17   93000.0  6990.0  6504.846036
18   60949.0  7490.0  7192.306768
19   65674.0  7555.0  7090.960415
20   54000.0  7990.0  7341.355616
21   68500.0  7990.0  7030.345644
22   22899.0  7990.0  8008.439833
23   61789.0  8290.0  7174.289639

In [34]:
t1 = thetas[1] * (df['price'].std() / df['km'].std())
t0 = df['price'].mean() + df['price'].std() * (thetas[0] - (thetas[1] * (df['km'].mean() / df['km'].std())))
testDf['unnorm'] = testDf['km'].apply(lambda x: t0 + x * t1)
print(t0, t1)
print(thetas)
testDf

8499.599649933214 -0.02144896359170229
[1.892005071132038e-16, -0.8561394207905018]

          km   price         ax+b       unnorm
0   240000.0  3650.0  3351.848388  3351.848388
1   139800.0  3800.0  5501.034540  5501.034540
2   150500.0  4400.0  5271.530629  5271.530629
3   185530.0  4450.0  4520.173435  4520.173435
4   176000.0  5250.0  4724.582058  4724.582058
5   114800.0  5350.0  6037.258630  6037.258630
6   166800.0  5800.0  4921.912523  4921.912523
7    89000.0  5990.0  6590.641890  6590.641890
8   144500.0  5999.0  5400.224411  5400.224411
9    84000.0  6200.0  6697.886708  6697.886708
10   82029.0  6390.0  6740.162615  6740.162615
11   63060.0  6390.0  7147.028006  7147.028006
12   74000.0  6600.0  6912.376344  6912.376344
13   97500.0  6800.0  6408.325700  6408.325700
14   67000.0  6800.0  7062.519089  7062.519089
15   76025.0  6900.0  6868.942193  6868.942193
16   48235.0  6900.0  7465.008891  7465.008891
17   93000.0  6990.0  6504.846036  6504.846036
18   60949.0  7490.0  7192.306768  7192.306768
19   65674.0  7555.0  7090.960415  7090.960415
20   54000.0  7990.0  7341.355616  7341.355616
21   68500.0  7990.0  7030.345644  7030.345644
22   22899.0  7990.0  8008.439833  8008.439833
23   61789.0  8290.0  7174.289639  7174.289639

In [26]:
test2 = df.copy(deep=True)
test2['un'] = test2['km'].apply(lambda x: t0 + x * t1)
test2

          km   price            un
0   240000.0  3650.0 -2.711476e+08
1   139800.0  3800.0 -1.579408e+08
2   150500.0  4400.0 -1.700298e+08
3   185530.0  4450.0 -2.096069e+08
4   176000.0  5250.0 -1.988399e+08
5   114800.0  5350.0 -1.296956e+08
6   166800.0  5800.0 -1.884456e+08
7    89000.0  5990.0 -1.005466e+08
8   144500.0  5999.0 -1.632509e+08
9    84000.0  6200.0 -9.489754e+07
10   82029.0  6390.0 -9.267069e+07
11   63060.0  6390.0 -7.123936e+07
12   74000.0  6600.0 -8.359946e+07
13   97500.0  6800.0 -1.101499e+08
14   67000.0  6800.0 -7.569080e+07
15   76025.0  6900.0 -8.588732e+07
16   48235.0  6900.0 -5.448996e+07
17   93000.0  6990.0 -1.050658e+08
18   60949.0  7490.0 -6.885433e+07
19   65674.0  7555.0 -7.419268e+07
20   54000.0  7990.0 -6.100330e+07
21   68500.0  7990.0 -7.738551e+07
22   22899.0  7990.0 -2.586514e+07
23   61789.0  8290.0 -6.980337e+07

In [21]:
print(f'std {df["price"].std()} mean {df["price"].mean()}')
print(f'std {df["km"].std()} mean {df["km"].mean()}')

std 1319.6541927360352 mean 6331.833333333333
std 52674.24560550151 mean 101066.25

In [22]:
t1 = thetas[1] * (df['price'].std() / df['km'].std())
t0 = df['price'].mean() + df['price'].std() * (thetas[0] - (thetas[1] * (df['km'].mean() / df['km'].std())))
print(thetas)
print(t0, t1)

[2.2435756955966697e-16, -0.8561394207905022]
8499.599649933216 -0.0214489635917023